.EndExercise {
  @include container;
  @include btnStates;
  @include headerStyle;
  flex-direction: column !important;
  justify-content: space-around !important;
  text-align: center;
  .btn {
    @include btn;
    text-align: center;
    color: $main-color;
  }
  div:nth-child(3) {
    img {
      width: 35px;
    }
    p {
      color: #fff;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    a {
      text-decoration: none;
    }
  }
}
