@font-face {
  font-family: "itimregular";
  src: url("../fonts/itim-regular-webfont.woff2") format("woff2"),
    url("../fonts/itim-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
